.header {
  background-color: #414141;
  color: #fff;
  padding: 10px;
}

.navigation {
  background-color: #939393;
  padding: 10px;
  width: 200px;
  height: 100vh;
  float: left;
}

.container {
  background-color: #b9b9b9;
  margin-left: 220px;
  padding: 10px;
  height: 100vh;
}